body {
   background-color: #222;
}

section {
   display: flex;
   justify-content: space-evenly;
   height: 40rem;
}

.block {
   width: 100px;
   height: 100px;
   line-height: 100px;
   font-size: 100px;
   background-color: tomato;
   margin: 8px;
   border-radius: 50px;
   text-align: center;
   color: white;
   transition: all 0.2s;
}

.button {
   font-size: 2rem;
   padding: 0.5rem;
   border: 1px solid #ccc;
   background-color: #eee;
   width: fit-content;
   color: #343;
   border-radius: 0.2rem;
   margin: 0 auto;
   user-select: none
}

.button:hover {
   cursor: pointer;
   border-color: gold;
   box-shadow: 0px 0px 20px gold;
}